<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Projeto Express e EJS</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>LISTA DE PRODUTOS</h1>
    <br><br>
    <div class="container text-center">
          <div class="row">
    <% for (let produto of produtos){ %>
                <div class="card" style="flex: 0 0 18rem; margin:10px;">
                    <img src="<%=produto.imagem%>" class="img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=produto.nome%></h5>
                        <p class="card-text">R$<%=produto.preco%></p>
                        <a href="/produtos/<%= produto.id %>" class="btn btn-primary">Adquira Agora!</a>
                    </div>
                  </div>
    <% } %>
  </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>
