<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<br>
    <h1><%= message %></h1>
    <br><br>
    <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://static3.tcdn.com.br/img/img_prod/901504/tenis_tesla_coil_ice_3231_1_9e2f5701065df2fa77ca9752019462a8.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tesla Coil</h5>
              <p class="card-text">R$ 359</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.awsli.com.br/600x700/1702/1702086/produto/214885673bfa7fe5c09.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vans Old Skool</h5>
              <p class="card-text">R$ 399</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.awsli.com.br/600x1000/1167/1167039/produto/217818858/3-s3tk9bnles.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Dunk Low</h5>
              <p class="card-text">R$ 1399</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://authenticfeet.vteximg.com.br/arquivos/ids/268207-600-600/DM003-2-003-1.jpg?v=637934896607100000" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Tn</h5>
              <p class="card-text">R$ 1259</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
      
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.awsli.com.br/600x1000/1918/1918121/produto/196654312/1-2d19ae200a.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Socks</h5>
              <p class="card-text">R$ 3799</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://gringa.com.br/cdn/shop/products/Tenis-Nike-Air-Jordan-1-Retro-High-_Dark-Mocha_-36-Branco-Original00031998l_600x600_crop_center.png?v=1665494110" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Jordan</h5>
              <p class="card-text">R$ 2000</p>
              <a href="#" class="btn btn-primary">Adquira Agora!</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br><br>
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
