h1{
    margin-top: 70px;
    margin-left: 600px;
    text-decoration-color: black;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    margin-top: 70px;
    margin-left: 550px;
    text-decoration-color: black;
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}